[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.6"
greenlet = "==2.0.1"
sqlalchemy = "==1.4.43"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
